/*{
    border: 2px solid black;
}
/*:root {
    --light_white: #EDC7B7;
    --white: #EEE2DC;
    --light_blue: #BAB2B5;
    --blue: #123C69;
    --dark_pink: #AC3B61;
}*/

body{
    background: snow;
}
input{
    background-color: lightblue;
}
button{
   background-color: lightblue;
}
p{
    color: slateblue;
}
h2{
    color: darkblue;
}
h4{
    color: darkblue;
}
h5{
    color: darkblue;
}
#p1{
    color: darkblue;
}

.Container {
  display: grid;
  grid-template-areas:
  'right right header header'
  'menu menu main main'
  'menu menu footer footer';
}

.item1 {
    grid-area: header;
    height: 20vh;
    width: 60vw;
    padding: 20px;
    margin: 20px;
}
.item4 {
    grid-area: right;
    height: 20vh;
    width: 15vw;
    padding: 20px;
    margin: 20px;
}
.item2 {
    grid-area: menu;
    height: 60vh;
    width: 15vw;
    padding: 20px;
    margin: 20px;
}
.item3 {
    grid-area: main;
    height: 60vh;
    width: 60vw;
    padding: 20px;
    margin: 20px;

}

.item5 {
    grid-area: footer;
    height: 60vh;
    padding: 20px;
    margin: 20px;
}
@media only screen and (max-width: 600px){
    .container {
     display: grid;
     grid-template-areas:
     'header'
     'header'
     'header'
     'header'
     'header'
     'menu'
     'main'
     'main'
     'right'
     'right'
     'menu'
     'footer'
     'footer'
     'footer'
     'footer';
}
}

@media only screen and (max-width: 1000px){
    body{
        background-color: lightblue;
    }
}

@keyframes blink { from {background-color: chartreuse;} to {background-color: turquoise;}}

div {
    animation-name: blink;
    animation-duration: 4s;
}

@keyframes rotate{
    from { transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#rotate_yuli{
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}



